<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body style="background-color: #ebebeb">
    <!-- <button>Buscar</button> -->
    <!-- placeholder="busca aqui sapo hpta" -->
    <header>
        <div id="logo-barra" >
            <div id="logo"><img src="/img/logo-mercado-liebre.svg" style="width: 100%;" alt="logo principal" ></div>
            <div id="busqueda">
                        <input id="barra-busqueda" type="search" placeholder="Buscar productos, marcas" >
                        <i id="lupa-movil" class="fa-solid fa-magnifying-glass iconoBusqueda" ></i>
                        <button id="lupa-boton"><i class="fa-solid fa-magnifying-glass iconoBusqueda" ></i></button>
            </div>
                
            <div id="h4header"><h4 ><i class="fa-solid fa-hand-holding-dollar"></i>  Compra en cuotas y sin tarjeta de credito</h4></div>
           
        </div>   
        <!-- position: relative; top:25px; -->
            <div id="navegacion">
                    
                    
                        <ul>       
                            <li class="sin-punto"><a href="#">|    Ofertas  |</a></li>
                            <li class="sin-punto"><a href="#">|    Tiendas Oficiales  |</a></li>
                            <li class="sin-punto"><a href="#">|    Vender  |</a></li>
                            <li class="sin-punto"><a href="#">|    Ayuda  |</a></li>
                        </ul>
                    
                
               
                
                    
                        <ul>
                            <li class="sin-punto"><a href="/creaTuCuenta">|  Crea tu cuenta  <i class="fa-solid fa-address-card"></i></a></li>
                            <li class="sin-punto"><a href="#">|  Ingresa   <i class="fa-solid fa-right-to-bracket"></i></a></li>
                            <li class="sin-punto"><a href="#">|  Mis compras  <i class="fa-solid fa-basket-shopping"></i></a></li>
                        </ul>
                    
                 
            </div>     
                
                <div class="menu" style="width: 90%; margin: auto; text-align: center;" >
                     <button class="burger-menu"><a href="#" style="text-decoration: none; color:#ebebeb;"><i class="fas fa-bars"></i></a></button>
                </div>
    </header>
    <section>
        <img class="banner" src="/img/img-home-banner.jpg" alt="banner" >
    </section>
    <main>
        <h2 class="titulares">Basado en tu ultima visita</h2>
        <section>
            
            <div class="articulo">
                <div>
                    <img class="imagen" src="/img/img-cafetera-moulinex.jpg" alt="imagen cafetera" >
                    <div class="caja">
                    <button class="botoncamioncito"><i class="fa-solid fa-truck-fast"></i></button>
                    <div class="precioDescuento">
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    </div>
                    <h4 class="descripciones">Cafetera moulinex</h4>
                    </div>
                </div>
            </div>
            <div class="articulo">
                <div>
                    <img  class="imagen" src="/img/img-macbook-pro-2019.jpg" alt="imagen Mac book" >
                    <div class="caja">
                        <button class="botoncamioncito"><i class="fa-solid fa-truck-fast"></i></button>
                    <div class="precioDescuento">
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                    </div>
                    <h4 class="descripciones">MacBook pro 2019</h4>
                    </div>
                </div>
            </div>
            <div class="articulo">
                <div>
                    <img  class="imagen" src="/img/img-samsung-galaxy-s10.jpg" alt="imagen Samsung galaxy" >
                    <div class="caja">
                        <button class="botoncamioncito"><i class="fa-solid fa-truck-fast"></i></button>
                    <div class="precioDescuento">
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                    </div>
                    <h4 class="descripciones">Samsung Galaxy S10</h4>
                    </div>
                </div>
            </div>
            <div class="articulo">
                <div>
                    <img  class="imagen" src="/img/img-tv-samsung-smart.jpg" alt="imagen TV smart Samsung" >
                    <div class="caja">
                        <button class="botoncamioncito"><i class="fa-solid fa-truck-fast"></i></button>
                    <div class="precioDescuento">
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    </div>
                    <h4 class="descripciones">SmartTv Samsung 43"</h4>
                    </div>
                </div>
            </div>
        </section>
        
            <h2 class="titulares">!!OFERTAS¡¡</h2>
            <section>
            
                <div class="articulo">
                    <div>
                        <img class="imagen" src="/img/img-cafetera-moulinex.jpg" alt="imagen cafetera" >
                        <div class="caja">
                            <button class="botoncamioncito"><i class="fa-solid fa-truck-fast"></i></button>
                            <h4 class="descripciones">Cafetera moulinex</h4>
                            <div class="precioDescuento">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                        </div>
                        
                        </div>
                    </div>
                </div>
                <div class="articulo">
                    <div>
                        <img  class="imagen" src="/img/img-macbook-pro-2019.jpg" alt="imagen Mac book" >
                        <div class="caja">
                            <button class="botoncamioncito"><i class="fa-solid fa-truck-fast"></i></button>
                        <h4 class="descripciones">MacBook pro 2019</h4>
                        <div class="precioDescuento">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                        </div>
                        
                        </div>
                    </div>
                </div>
                <div class="articulo">
                    <div>
                        <img  class="imagen" src="/img/img-samsung-galaxy-s10.jpg" alt="imagen Samsung galaxy" >
                        <div class="caja">
                            <button class="botoncamioncito"><i class="fa-solid fa-truck-fast"></i></button>
                        <h4 class="descripciones">Samsung Galaxy S10</h4>
                        <div class="precioDescuento">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                        </div>
                       
                        </div>
                    </div>
                </div>
                <div class="articulo">
                    <div>
                        <img  class="imagen" src="/img/img-tv-samsung-smart.jpg" alt="imagen TV smart Samsung" >
                        <div class="caja">
                        <button class="botoncamioncito"><i class="fa-solid fa-truck-fast"></i></button>
                        <h4 class="descripciones">SmartTv Samsung 43"</h4>
                        <div class="precioDescuento">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        </div>
                       
                        </div>
                    </div>
                </div>
            </section>
       
        
    </main>
    <section>
        <img class="banner" src="/img/img-home-banner.jpg" alt="banner" >
    </section>
    <footer >
        
        <section class="section-footer">
           <div class="iconos-footer"><i class="fa-solid fa-credit-card" ></i></div> 
            <h3 class="title-footer">Paga con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="section-footer">
            <div class="iconos-footer"><i class="fa-solid fa-gift"></i></div>
            <h3 class="title-footer">Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="section-footer">
            <div class="iconos-footer"><i class="fa-solid fa-user-shield"></i></div>
            <h3 class="title-footer">Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
         

    </footer>
    
</body>
</html>